@model LexiconLMS.Models.Aktivitet

@{
    ViewBag.Title = "Delete";
}

<h2>Ta bort</h2>

<h3>Är du säker?</h3>
<div>
    <h4>Aktivitet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AktivitetsTyp.Typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AktivitetsTyp.Typ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlutTid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlutTid)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    }
</div>
