@model IEnumerable<LexiconLMS.Models.Aktivitet>

@{
    ViewBag.Title = "Aktiviteter";
}

<h2>Aktiviteter</h2>

<p>
    @Html.ActionLink("Ny aktivitet...", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AktivitetsTyp.Typ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlutTid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AktivitetsTyp.Typ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlutTid)
        </td>
        <td>
            @Html.ActionLink("Redigera", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |
            @Html.ActionLink("Ta bort", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
