@model LexiconLMS.Models.Kurs

@{
    ViewBag.Title = "Kurs";
}

<h1>Kursdetaljer</h1>
<h3>@Html.DisplayFor(model => model.Namn)</h3>
<h4>@Html.DisplayFor(model => model.StartDatum)</h4>

<p><i>@Html.DisplayFor(model => model.Beskrivning)</i></p>

<p></p>

<h4>Moduler:</h4>

    @{
        foreach (var modul in Model.Moduler)
        {
           <p>@Html.DisplayFor(model => modul.Namn)</p>
        }
    }


<h4>Klasslista</h4>

<table>
    @{ 
        foreach (var elev in Model.KursMedlemmar)
        {
            <tr>
                <td>@Html.DisplayFor(model => elev.FullNamn)</td>
                <td>@Html.DisplayFor(model => elev.Email)</td>
            </tr>
        }
    }
</table>

<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>
