@model LexiconLMS.Models.Kurs

@{
    ViewBag.Title = "Kurs";
}

<h1>Kursdetaljer</h1>
<h3>@Html.DisplayFor(model => model.Namn)</h3>
<h4>@Html.DisplayFor(model => model.StartDatum)</h4>

<p><i>@Html.DisplayFor(model => model.Beskrivning)</i></p>

<p></p>

<h4>Moduler:</h4>
<p>
    @{

        var mod = Model.Moduler.ToArray();
        string[] strMod = new string[mod.Length];

        for (int i=0; i<strMod.Length; i++)
        {
            strMod[i] = mod[i].Namn;
        }

        string commaSep = string.Join(", ", strMod);

        @commaSep
    }
    
</p>

<h4>Klasslista</h4>

<table class="table">
    @{
    <tr>
        <th>Namn</th>
        <th>E-post</th>
    </tr>
        foreach (var elev in Model.KursMedlemmar)
        {
            <tr>
                <td>@Html.DisplayFor(model => elev.FullNamn)</td>
                <td>@Html.DisplayFor(model => elev.Email)</td>
            </tr>
        }
    }
</table>

<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>
