@model IEnumerable<LexiconLMS.Models.Aktivitet>

@{
    ViewBag.Title = "Details";
    
}
<h2>Kurs: @Model.First().Modul.Kurs.Namn</h2>
<h2>Modul: @Model.First().Modul.Namn &nbsp &nbsp @Model.First().Modul.StartDatum.ToShortDateString() &nbsp -- &nbsp @Model.First().Modul.SlutDatum.ToShortDateString()</h2>

<p><br/><br/></p>

<h3>Beskrivning:</h3>


<i>@Model.First().Modul.Beskrivning</i>

<p><br /><br /></p>

<h3>Aktiviteter</h3>

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlutTid)
        </th>
        <th></th>
    </tr>

    @foreach (var a in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => a.Namn)
            </td>
            <td>
                @Html.DisplayFor(model => a.StartTid)
            </td>
            <td>
                @Html.DisplayFor(model => a.SlutTid)
            </td>
        </tr>
    }

</table>

    @if (User.IsInRole("Lärare"))
    {
        <p>
            @Html.ActionLink("Ändra", "Edit", new { id = ViewBag.Model.Id }) |
            @Html.ActionLink("Tillbaka", "Index")
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Tillbaka", "Index")
        </p>
    }

