@using System.Globalization;
@model LexiconLMS.Models.ModulDetailsViewModel

@{
    ViewBag.Title = "Details";

}

<h4>
    Kurs: &nbsp
    @Model.kurs.Namn
</h4>

<h3>
    Modul: &nbsp
    @Model.modul.Namn &nbsp
    @Model.modul.StartDatum.ToShortDateString()
    -
    @Model.modul.SlutDatum.ToShortDateString()
</h3>


<p><br /></p>

<h3>Beskrivning:</h3>

<i>@Model.modul.Beskrivning</i>

<p><br /></p>

<h3>Aktiviteter</h3>

@{
    if (Model.aktiviteter.Count == 0)
    {
        <p>Det finns inga aktiviteter ...</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    <p>Datum</p>
                </th>
                <th>
                    <p>Tid</p>
                </th>
                <th>
                    <p>Aktivitet</p>
                </th>
                <th>
                    <p>Tid</p>
                </th>
                <th>
                    <p>Aktivitet</p>
                </th>
                <th></th>
            </tr>

            @{
                string bgcolor;
                bool flipColor = true;


                for (int i = 0; i < Model.aktiviteter.Count(); i++)
                {
                    var datum = Model.datum[i];

                    if (flipColor)
                    {
                        bgcolor = "#f0f0f0";
                        flipColor = false;
                    }
                    else
                    {
                        bgcolor = "#e0e0e0";
                        flipColor = true;
                    }
                    <tr style='background-color:@bgcolor'>
                        <td>
                            @Model.datum[i]
                        </td>
                        <td>
                            @Model.startTid[i] - @Model.slutTid[i]
                        </td>
                        <td>
                            @Model.aktiviteter[i].Namn
                        </td>

                        @if (((i + 1) < Model.aktiviteter.Count()) && (datum == Model.datum[i + 1]))
                        {
                            i++;
                            <td>
                                @Model.startTid[i] - @Model.slutTid[i]
                            </td>
                            <td>
                                @Model.aktiviteter[i].Namn
                            </td>
                        }
                        else
                        {
                            <td style="color: blueviolet">
                                LEDIGT
                            </td>
                            <td style="color: blueviolet">
                                LEDIGT
                            </td>
                        }
                    </tr>
                }
            }
        </table>
                }
}




<p>
    @Html.ActionLink("Tillbaka", "Edit", "Kurs", new { id = Model.kurs.Id }, null)
</p>
