@using System.Globalization;
@model LexiconLMS.Models.ModulEditViewModel

@{
    ViewBag.Title = "Details";

}
<h2>Modul</h2>

<h4>
    @Model.modul.Namn
    @Model.modul.StartDatum.ToShortDateString()
    &nbsp -- &nbsp
    @Model.modul.SlutDatum.ToShortDateString()
</h4>
<h4>Kurs</h4>
<h4>@Model.kurs.Namn</h4>

<p><br/></p>

<h3>Beskrivning:</h3>

<i>@Model.modul.Beskrivning</i>

<p><br /></p>

<h3>Aktiviteter</h3>

@{
    if(Model.aktiviteter.Count == 0)
    {
        <p>Det finns inga aktiviteter ...</p>
    }

    var culture = new CultureInfo("sv-SE");

    int dag = 0;

    foreach (var aktivitet in Model.aktiviteter)
    {

        if (dag != aktivitet.StartTid.Day)
        {
            string strDag = culture.DateTimeFormat.GetDayName(aktivitet.StartTid.DayOfWeek);
            <p>@culture.TextInfo.ToTitleCase(strDag) @aktivitet.StartTid.Date.ToString("M", culture)</p>
        }

       

        dag = aktivitet.StartTid.Day;


        if (User.IsInRole("Lärare"))
        {
            <p>
                @aktivitet.StartTid.TimeOfDay - @aktivitet.SlutTid, @aktivitet.AktivitetsTyp.Typ @aktivitet.Namn
                @*@Html.ActionLink("Ändra", "Edit", "Aktivitet", new { id = aktivitet.Id }, null)|
                @Html.ActionLink("Detaljer", "Details", "Aktivitet", new { id = aktivitet.Id }, null)|
                @Html.ActionLink("Ta Bort", "Delete", "Aktivitet", new { id = aktivitet.Id }, null)*@
            </p>

        }
        else
        {
            <p>
                @aktivitet.StartTid.TimeOfDay -@aktivitet.SlutTid, @aktivitet.AktivitetsTyp.Typ @aktivitet.Namn
                @*@Html.ActionLink("Detaljer", "Details", "Aktivitet", new { id = aktivitet.Id }, null)*@
            </p>
        }
    }
}




<p>
    @Html.ActionLink("Tillbaka", "Edit", "Kurs", new { id = Model.kurs.Id }, null)
</p>
