@using System.Globalization;
@model IEnumerable<LexiconLMS.Models.Aktivitet>

@{
    ViewBag.Title = "Details";

}
<h2>Kurs: @Model.First().Modul.Kurs.Namn</h2>
<h2>Modul: @Model.First().Modul.Namn &nbsp &nbsp @Model.First().Modul.StartDatum.ToShortDateString() &nbsp -- &nbsp @Model.First().Modul.SlutDatum.ToShortDateString()</h2>

<p><br /></p>

<h3>Beskrivning:</h3>


<i>@Model.First().Modul.Beskrivning</i>

<p><br /></p>

<h3>Aktiviteter</h3>

@{
    var culture = new CultureInfo("sv-SE");

    int dag = 0;



    foreach (var aktivitet in Model)
    {

        if (dag != aktivitet.StartTid.Day)
        {
            string strDag = culture.DateTimeFormat.GetDayName(aktivitet.StartTid.DayOfWeek);
            <p>@culture.TextInfo.ToTitleCase(strDag) @aktivitet.StartTid.Date.ToString("M", culture)</p>
        }

        <p></p>

        dag = aktivitet.StartTid.Day;


        if (User.IsInRole("Lärare"))
        {
            <p>
                @aktivitet.StartTid.TimeOfDay - @aktivitet.SlutTid, @aktivitet.AktivitetsTyp.Typ @aktivitet.Namn
                @Html.ActionLink("Ändra", "Edit", new { id = aktivitet.Id })|
                @Html.ActionLink("Detaljer", "Details", "Aktivitet", new { id = aktivitet.Id }, null)|
                @Html.ActionLink("Ta Bort", "Delete", new { id = aktivitet.Id })
            </p>

        }
        else
        {
            <p>
                @aktivitet.StartTid.TimeOfDay -@aktivitet.SlutTid, @aktivitet.AktivitetsTyp.Typ @aktivitet.Namn
                @Html.ActionLink("Detaljer", "Details", new { id = aktivitet.Id })
            </p>
        }
    }
}




<p>
    @Html.ActionLink("Tillbaka", "Index")
</p>
