@model LexiconLMS.Models.Modul

@{
    ViewBag.Title = "Details";
}

<h2>Modul: @Html.DisplayFor(model => model.Namn) &nbsp &nbsp @Html.DisplayFor(model => model.StartDatum) &nbsp -- &nbsp @Html.DisplayFor(model => model.SlutDatum)</h2>

<p><br/><br/></p>

<h3>@Html.DisplayNameFor(model => model.Beskrivning):</h3>
<i>@Html.DisplayFor(model => model.Beskrivning)</i>

<div>
   
    <dl class="dl-horizontal">

        <dd>
           @Html.DisplayFor(model => model.Kurs.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beskrivning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beskrivning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlutDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlutDatum)
        </dd>

    </dl>
</div>

@if (User.IsInRole("Lärare"))
{
    <p>
        @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Tillbaka", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Tillbaka", "Index")
    </p>
}

