 @model LexiconLMS.Models.ModulEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h4>
    Kurs: &nbsp
    @Model.kurs.Namn
</h4>


<h3>
    Redigera Modul: &nbsp
    @Model.modul.Namn
</h3>

<h2 style="color: purple; background-color:#f2e7e7">
    @ViewBag.ErrorMessage
</h2>

@using (Html.BeginForm("Edit", "Moduls", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.modul.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.modul.Namn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modul.Namn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.modul.Namn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modul.Beskrivning, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modul.Beskrivning, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.modul.Beskrivning, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modul.StartDatum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modul.StartDatum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.modul.StartDatum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modul.SlutDatum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modul.SlutDatum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.modul.SlutDatum, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.modul.KursId, "model.kurs.Id")
        @Html.HiddenFor(model => model.modul.Kurs, "model.kurs.Namn")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spara" class="btn btn-default" />
            </div>
        </div>

    </div>
}



<h4>
    Aktiviteter &nbsp
    @Html.ActionLink("Ny aktivitet", "Create", "Aktivitet", new { ModulId = Model.modul.Id }, null)
</h4>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.TextBox("search", null, htmlAttributes: new { @class = "form-control col-md-2", @placeholder = "Sök modul" })
    <button class="btn btn-default" type="submit">Sök</button>
}*@

@if (Model.aktiviteter.Count != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.aktiviteter.First().Namn)
            </th>
            <th>
                Tidpunkt
            </th>
            <th></th>
        </tr>

        @{
            string backGroundColor ="#ffffff";
            bool flipColor = true;

            DateTime datum = new DateTime(01, 01, 01);

            foreach (var item in Model.aktiviteter)
            {

                //bool currentmodule = DateTime.Now.Date == item.StartTid.Date;

                if (datum != item.StartTid.Date)
                {
                    datum = item.StartTid.Date;

                    if (flipColor)
                    {
                        backGroundColor = "#f0f0f0";
                        flipColor = false;
                    }
                    else
                    {
                        backGroundColor = "#e0e0e0";
                        flipColor = true;
                    }

                <tr style='background-color:@backGroundColor'>

                    <td>
                        @Html.DisplayFor(modelItem => item.Namn)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StartTid)
                        -
                        @Html.DisplayFor(modelItem => item.SlutTid)
                    </td>

                    <td>
                        @Html.ActionLink("Redigera", "Edit", "Aktivitet", new { id = item.Id }, null) |
                        @Html.ActionLink("Ta bort", "Delete", "Aktivitet", new { id = item.Id }, null)
                    </td>

                </tr>
                }
                else
                {
                    <tr style='background-color:@backGroundColor'>

                        <td>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.StartTid)
                            -
                            @Html.DisplayFor(modelItem => item.SlutTid)
                        </td>

                        <td>
                            @Html.ActionLink("Redigera", "Edit", "Aktivitet", new { id = item.Id }, null) |
                            @Html.ActionLink("Ta bort", "Delete", "Aktivitet", new { id = item.Id }, null)
                        </td>

                    </tr>
                }
            }
        }
    </table>
 }

<div>
    @Html.ActionLink("Tillbaka", "Edit", "Kurs", new { id = Model.kurs.Id }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
