@using Microsoft.AspNet.Identity
@using LexiconLMS.Extensions;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PLC Skola</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @{
                    if (User.IsInRole("Lärare"))
                    {
                        @Html.ActionLink("PLC Skola", "LärareIndex", "Skol", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    else
                    {
                        @Html.ActionLink("PLC Skola", "ElevIndex", "Skol", new { area = "" }, new { @class = "navbar-brand" })
                    }
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @{
                        if (User.IsInRole("Lärare"))
                        {
                            <li>@Html.ActionLink("Hem", "LärareIndex", "Skol")</li>
                            <li>@Html.ActionLink("Kurser", "Index", "Kurs")</li>
                            <li>@Html.ActionLink("Moduler", "Index", "Moduls")</li>
                            <li>@Html.ActionLink("Användare", "Index", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Hem", "ElevIndex", "Skol")</li>
                            <li>@Html.ActionLink("Schema", "Index", "Moduls")</li>
                            <li>@Html.ActionLink("Klasslista", "Klasslista", "Kurs")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")  
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PLC Skola</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
