@model IEnumerable<LexiconLMS.Models.Dokument>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DokumentTyp.Typ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beskrivning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tidsstämpel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publiceringsdatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnvändarId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DokumentTyp.Typ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beskrivning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tidsstämpel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publiceringsdatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnvändarId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
