@model IEnumerable<LexiconLMS.Models.AccountIndexViewModel >
@using Microsoft.AspNet.Identity
@using LexiconLMS.Extensions

@{
    ViewBag.Title = "Alla användare";
}

<h2>Alla användare</h2>

@using (Html.BeginForm())
{
        @Html.TextBox("Söksträng", null, htmlAttributes: new { @class = "form-control col-md-2", @placeholder = "Sök e-post, förnamn, efternamn" })
        <button class="btn btn-default" type="submit">Sök</button>
}
<br />
<p>
    @Html.ActionLink("Ny användare", "Register")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Epost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullNamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ÄrLärare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kursnamn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Epost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullNamn)
        </td>
        <td>
            @{ 
                string roll = item.ÄrLärare ? "Lärare" : "Elev";
                @Html.DisplayFor(modelItem => roll)
            }
        </td>
        <td>
            @{
                if(String.IsNullOrWhiteSpace(item.Kursnamn))
                {
                    <i>@Html.DisplayFor(modelItem => item.Kursnamn)</i>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Kursnamn)
                }
            }
        </td>
        <td>
            @Html.ActionLink("Redigera", "Edit", new { id = item.Id })
            @{
                string userId = User.Identity.GetUserId<string>();

                if (item.Id != userId)
                {
                    <span> | </span>
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                }
            }
        </td>
    </tr>
}

</table>
