@model LexiconLMS.Models.Modul

@{
    ViewBag.Title = "Hem";
}

<h3>Hem</h3>

@{ 
    if (Model != null)
    {
        <h4>Pågående modul, @Model.Namn</h4>
        <p>@Model.StartDatum till @Model.SlutDatum</p>
        <p>@Model.Beskrivning</p>
    }
    else
    {
        <p>Ingen pågående modul</p>
    }
}

@*
@if (Model.PågåendeModul != null)
{
    <h3>Pågående Modul: @Model.PågåendeModul.Namn</h3>
    <p>@Model.PågåendeModul.StartDatum - @Model.PågåendeModul.SlutDatum</p>
    <p>Beskrivning: @Model.PågåendeModul.Beskrivning</p>

    <h3>Veckans aktiviteter</h3>
    foreach (var item in Model.VeckansAktiviteter)
    {
        <p>@item.StartTid.Date, @item.StartTid.DayOfWeek</p>
    }
}
else
{
    <h3>Ingen pågående modul</h3>
}
*@