@using System.Globalization;
@model LexiconLMS.Models.ElevIndexViewModel

@{
    ViewBag.Title = "Hem";
}

@{
    <div class="panel panel-primary" style="margin-top:10px;">
        <div class="panel-heading"><h4>Välkommen @Model.Användarnamn</h4></div>
    </div>

    if (Model != null)
    {
        var culture = new CultureInfo("sv-SE");

        if (@Model.PågåendeKurs != null)
        {
            <div class="panel panel-success">
                <div class="panel-heading"><h4>Pågående kurs, @Model.PågåendeKurs.Namn </h4></div>
                @if (String.IsNullOrWhiteSpace(@Model.PågåendeKurs.Beskrivning))
                {
                    <p>Ingen beskrivning har angivits</p>
                }
                else
                {
                    <div class="panel-body">
                        <i>@Model.PågåendeKurs.Beskrivning</i>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="panel panel-danger" style="text-align:center;">
                <div class="panel-heading"><h4>Ingen pågående kurs</h4></div>
            </div>
        }

        if (@Model.PågåendeModul != null)
        {
            <div class="panel panel-info">
                <div class="panel-heading"><h4>Pågående modul @Model.PågåendeModul.Namn</h4></div>
                <div class="panel-body">
                    <p>Pågår mellan @Model.PågåendeModul.StartDatum.ToString("yyyy-MM-dd") till @Model.PågåendeModul.SlutDatum.ToString("yyyy-MM-dd")</p>
                    <p>Beskrivning: <i>@Model.PågåendeModul.Beskrivning</i></p>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-danger" style="text-align:center;">
                <div class="panel-heading"><h4>Ingen pågående modul</h4></div>
            </div>
        }

        if (@Model.KommandeDagar != null && @Model.KommandeDagar.Count() > 0)
        {
            <div class="panel panel-warning">
                <div class="panel-heading"><h4>Kommande aktiviteter </h4></div>

                <div class="panel-body">
                    <div class="row">
                        @foreach (var dag in Model.KommandeDagar)
                    {
                        string strDag = culture.DateTimeFormat.GetDayName(dag.Datum.DayOfWeek);
                        string visaDagNamn = culture.TextInfo.ToTitleCase(strDag);
                        string visaTextadDatum = dag.Datum.ToString("M", culture);

                            <div class="col-md-2">
                                <div class="panel panel-warning" style="text-align:center;">
                                    <div class="panel panel-heading"><p style="font-size:20px;">@visaDagNamn @visaTextadDatum</p></div>

                                    <div class="panel panel-body">
                                        @foreach (var aktivitet in dag.Aktiviteter)
                                        {
                                            <p>@aktivitet.StartTid.TimeOfDay.ToString(@"hh\:mm") - @aktivitet.SlutTid.ToString(@"hh\:mm")</p>
                                            <p>@aktivitet.AktivitetsTyp.Typ</p>
                                            <p>@aktivitet.Namn</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-danger" style="text-align:center;">
                <div class="panel-heading"><h4>Inga planerade aktiviteter</h4></div>
            </div>
        }
    }
}
