@using System.Globalization;
@model LexiconLMS.Models.ElevIndexViewModel

@{
    ViewBag.Title = "Hem";
}

@{ 
    <h2>Välkommen @Model.Användarnamn</h2>

    if (Model != null)
    {
        var culture = new CultureInfo("sv-SE");

        if (@Model.PågåendeKurs != null)
        {
            <h3>@Model.PågåendeKurs.Namn</h3>
            <p>@Model.PågåendeKurs.Beskrivning</p>
        }
        else
        {
            <h3>Pågående kurs</h3>
            <p>Ingen pågående kurs</p>
        }

        if (@Model.PågåendeModul != null)
        {
            <h3>Pågående modul @Model.PågåendeModul.Namn</h3>

            <p>@Model.PågåendeModul.StartDatum.ToString("yyyy-MM-dd") till @Model.PågåendeModul.SlutDatum.ToString("yyyy-MM-dd")</p>
            <p>@Model.PågåendeModul.Beskrivning</p>
        }
        else
        {
            <h3>Pågående modul</h3>
            <p>Inga pågående moduler</p>
        }

        <h3>Kommande aktiviteter </h3>
        if (@Model.VeckansAktiviteter != null)
        {
            int dag = 0;

            foreach (var aktivitet in Model.VeckansAktiviteter)
            {
                if (@aktivitet.StartTid.DayOfWeek != DayOfWeek.Saturday && aktivitet.StartTid.DayOfWeek != DayOfWeek.Sunday)
                {
                    if (dag != @aktivitet.StartTid.Day)
                    {
                        string strDag = culture.DateTimeFormat.GetDayName(aktivitet.StartTid.DayOfWeek);
                        string visaDagNamn = culture.TextInfo.ToTitleCase(strDag);
                        string visaTextadDatum = aktivitet.StartTid.ToString("M", culture);
                        <h4>@visaDagNamn @visaTextadDatum</h4>
                    }

                        <p>@aktivitet.StartTid.TimeOfDay.ToString(@"hh\:mm") - @aktivitet.SlutTid.ToString(@"hh\:mm") @aktivitet.AktivitetsTyp.Typ @aktivitet.Namn</p>
                    dag = @aktivitet.StartTid.Day;
                }
            }
        }
        else
        {
            <p>Inga planerade aktiviteter</p>
        }
    }
}